body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: black;
}
#form {
  background-color: red;
  color: black;

  padding: 0.5rem;
}

/* header {
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
} */
#search {
  border: red solid 3px;
  background-color: black;
  color: red;
}
.main {
  align-items: center;
  justify-content: center;
}
.movie {
  margin: 2rem;
  border: red solid 3px;
  background-color: black;
  color: wheat;
}
